<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="registFragmentHead">
    <link rel="stylesheet" href="/styles/user/regist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
      integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css"
      integrity="sha512-D5/oUZrMTZE/y4ldsD6UOeuPR4lwjLnfNMWkjC0pffPTCVlqzcHTNvkn3dhL7C0gYifHQJAIrRTASbMvLmpEug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css"
      integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css"
      integrity="sha512-t+00JqxGbnKSfg/4We7ulJjd3fGJWsleNNBSXRk9/3417ojFqSmkBfAJ/3+zpTFfGNZyKxPVGwWvaRuGdtpEEA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
      integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"
      integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div th:fragment="registFragment" class="container">
<!--		<div id="parents">부모
			<div id="child1">자식 1
				<div id="child-child">손자</div>
			</div>
			<div id="child2">자식 2</div>
			</div>
-->
      <form action="/user/regist" method="post" class="row" id="regist-form">
        <div class="input-group mb-3">
          <span class="input-group-text" id="user-id">ID</span>
          <input
            type="text"
            class="form-control"
            placeholder="ID"
            aria-label="user-id"
            aria-describedby="user-id"
            id="input_id"
            name="userId"
            minlength="3"
            maxlength="20"
          />
          <span class="input-group-text" id="password">PW</span>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            aria-label="password"
            aria-describedby="password"
            id="input_pw"
            name="password"
            minlength="10"
            maxlength="30"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="name">Name</span>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            aria-label="name"
            aria-describedby="name"
            id="name"
            name="name"
            minlength="2"
            maxlength="20"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="phone">Phone</span>
          <input
            type="text"
            class="form-control"
            placeholder="Phone Number"
            aria-label="phone"
            aria-describedby="phone"
            id="phone"
            name="phone"
            maxlength="13";
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="address">Address</span>
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            aria-label="address"
            aria-describedby="address"
            id="address"
            name="address"
            minlength="5"
            maxlength="100"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="email">E-Mail</span>
          <input
            type="email"
            class="form-control"
            placeholder="example@gmail.com"
            aria-label="email"
            aria-describedby="email"
            id="email"
            name="email"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="git-address">Github Address</span>
          <input
            type="text"
            class="form-control"
            placeholder="Github 아이디를 입력해보세요"
            aria-label="git-address"
            aria-describedby="git-address"
            id="git-address"
            name="gitAddress"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-text">
            <input
              type="radio"
              class="form-check-input mt-0"
              value="1"
              aria-label="gender"
              id="gender-male"
              name="gender"
            />
          </div>
          <label for="gender-male" class="form-control">Male</label>
          <div class="input-group-text">
            <input
              type="radio"
              class="form-check-input mt-0"
              value="2"
              aria-label="gender"
              id="gender-female"
              name="gender"
            />
          </div>
          <label for="gender-female" class="form-control">Female</label>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="birth">Birth Day</span>
          <input
            type="text"
            class="form-control"
            aria-label="birth"
            aria-describedby="birth"
            id="datePicker"
            name="birth"
            autocomplete="off"
          />
        </div>
        
        

        <!-- <div class="input-group mb-3">
          <span class="input-group-text" id="birth">Birth Day</span>
          <input
            type="date"
            class="form-control"
            aria-label="birth"
            aria-describedby="birth"
            id="birth"
            name="birth"
          />
        </div> -->
        <div class="input-group">
          <button class="btn btn-primary btn-lg m-auto" id="regit_submit">Sign in</button>
        </div>
      </form>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        	<h1 class="modal-title fs-5" id="staticBackdropLabel">입력 오류</h1>
        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      	<div class="modal-body" id="modal_message">	  
      	</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      		</div>
    	</div>
  		</div>
	</div>
      <script>
        $("#datePicker").datepicker({
          format: "yyyy-mm-dd",
          //   startDate: "-1d",
          endDate: "1d",
          autoclose: true,
          clearBtn: true,
          title: "Birth day",
          language: "ko",
          //   multidate: true,
        });
        const idreg=/^[a-z0-9]{3,20}$/i;
		const pwReg=/^(?=.*[a-zA-Z])(?=.*[!@#$^&])(?=.*[0-9]).{10,30}$/;
		const korReg=/[ㄱ-ㅎㅏ-ㅣ가-힣]/g;
		const phoneReg=/^\d{3}-\d{3,4}-[0-9]{4}$/;
		const emailReg=/^[A-Z0-9\.\_\%\+\-]+@[A-Z0-9\.\-]+(.com|.net|.co.kr|.org)$/i;



		document.getElementById('regist-form').onsubmit= function(e){
	
			const tempName=e.target.name.value.replace(korReg, "aa");
			const tempPhone=e.target.phone.value.replace(/^(\d{3})(\d{3,4})(\d{4})$/,`$1-$2-$3`);
			let msg=checkId();
	
			if(!idreg.test(e.target.userId.value)){
				if(e.target.userId.value.length <3||e.target.userId.value.length>20){
				msg="아이디의 길이는 3~20으로 해주세요"
				}else{
				msg="아이디는 영어와 숫자만 적을 수 있습니다."
				}
			}
			else if(!pwReg.test(e.target.password.value)){
			if(e.target.password.value.length<10||e.target.password.value.length>30){
				msg="비밀번호는 10자 이상 30자 미만입니다";
			}else{
				msg="비밀번호는 대소문자,숫자,특수문자를 포함해야합니다";
				}
			}
			else if(tempName.length<4||e.target.name.value.length>20){
				msg="한글 이름은 2글자 이상 10글자 미만, 영어 이름은 4글자 이상 20글자 미만으로 입력해주세요";
				}
			else if(!phoneReg.test(tempPhone)){
				msg="전화번호는 한국 휴대폰 번호 형식에 맞춰주세요";
				}
			else if(
				e.target.address.value>0&&
				e.target.address.value.length<5
				||e.target.address.value>100){
				msg="주소는 5글자 이상, 100글자 미만으로 맞춰주세요"
				}
			else if(!emailReg.test(e.target.email.value)){
				msg="e메일 형식에 맞춰주세요"
				}
			else if(!e.target.gitAddress.value.startsWith("https://github.com/")) {
					e.target.gitAddress.value="https://github.com/"+e.target.gitAddress.value;
				}
			if(msg){
			console.log(msg);
			e.preventDefault();
				}
			}
      </script>
    </div>
  </body>
</html>
