<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org" lang="ko">
  <head th:fragment="commentsFragmentHead">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	 <link rel="stylesheet" href="/styles/board/comment.css" /> 
  </head>
    <body>
    <div th:fragment="commentsFragment">
      <form
        action="/comments/add"
        method="post"
        th:if="${session.userId} != null"
        id="board_comment"
      >
        <input type="text" name="content" placeholder="Comment" />
        <input type="hidden" name="user_id" th:value="${session.userId}" />
        <input type="hidden" name="board_id" th:value="*{id}" />
        <button>댓글 추가</button>
      </form>
      <hr />
      <div
      	id="comment-list"
      	th:data-board-id="*{id}"
      	class="comment-list"> 
	  </div>
	  <button id="add-comment-btn">댓글 더보기</button>
      <script src="/scripts/board/comments.js"></script>
    </div>
  </body>
  
<!--
<body>
	<div th:fragment="commentsFragment" class="comments container">
     		<form 
     		 action="/comments/add"
     		 method="post"
     		 th:if="${session.userId}!= null"
     		 >
      		<div class="comment_area">
				<div class="form-floating">
					<input type="hidden" name="board_id" th:value="*{id}"  />
					<input type="hidden" name="user_id" th:value="${session.userId}" />
  					<textarea class="form-control" placeholder=""style="height: 70px"name="content" id="content"></textarea>
  					<label for="floatingTextarea2" style="font-size: 12px;"></label>
				</div>
      		</div>
		<div class="comment_btn">
			<button class="btn btn-primary" style="height: 2.2rem; border-bottom-color: white;"type="submit">
				댓글 달기				
			</button>
			<button class="btn btn-primary" style="height: 2.2rem;" type="button" onclick="alert('로그인 후 이용해주세요')">
				답글 달기				
			</button>
		</div>
      </form>
      <hr />
      <ul id="comment-list" th:data-board-id="*{id}">
	  </ul>
	  <script src="/scripts/board/comments.js"></script>
	 </div>
</body>
-->

</html>