<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="contentFragmentHead">
    <link rel="stylesheet" href="/styles/board/item.css" />
  </head>
  <body>
    <div th:fragment="contentFragment" th:object="${board}" class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div th:text="*{userName}" class="user-name-data"></div>
        <div th:text="*{createdAt}"></div>
      </div>
      <hr />
      <p th:utext="*{content}"></p>
      <div >
		  
		  
	  </div>
    </div>
  </body>
</html>