<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="boardFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
    <head th:replace="~{/basic/userinfo :: userinfoFragmentHead}"></head>
  </head>
  <body>

    <div th:fragment="boardFragment" class="board container">
		<th:block th:if="${session.userName!=null}">
		<div th:replace="~{/board/addBoard :: addBoardFragment}"></div>
		</th:block>
      	<div>
        	<table class="table">
         	<thead>
            	<tr>
              	<th scope="col">#</th>
              	<th scope="col">제목</th>
              	<th scope="col">작성자</th>
              	<th scope="col">작성일자</th>
           	 	</tr>
         	 </thead>
         	 <tbody>
           		<tr th:each="item,itemStat:${list}" th:object="${item}">
             	 <th scope="row" th:text="*{id}"></th>
             	 <td>
					  <a th:text="*{title}" th:href="@{/board/{id}(id=*{id})}">
				 </td>
             	 <td>
					  <div th:replace="~{/basic/userinfo :: userinfoFragment}"></div>
				  </td>
            	 <td th:text="*{createdAt}"></td>
            	</tr>
          	</tbody>
        	</table>
      	</div>
    <div class="pagination_area">
		<nav aria-label="...">
	 <tr>
  		<ul class="pagination">
    		<li class="page-item disabled">
      		<a class="page-link" th:href="@{'?page='+ ${pageNum}}">이전</a>
    		</li>
    		<th block th:each="pageNum : ${#numbers.sequence(1,page)}">
    		<li class="page-item">
				<a class="page-link" th:if="${pageNum>=1}" th:href="@{'?page='+ ${pageNum}}" th:text="${pageNum}"></a></li>
    		</th>
    		<li class="page-item">
      		<a class="page-link" th:href="@{'?page='+ ${#numbers.formatInteger(pageNum,1)}+1}">이후</a>
   			</li>
 		 </ul>
 	</tr>
		</nav>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">사용자 정보</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"id='modal_body'>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    	  </div>
    	</div>
  		</div>
	</div>
</div>
	<script>
		document.getElementById('modal_content')
	</script>
  </body>
</html>
